:root{
    --primary: #fff;
    --point-color: #0CFF6D;
    --base-color: #C4C4C4;
    --lighter-color: #e4e0e0;
    --darker-color: #3F3F3F;
}

a{
    color: var(--darker-color);
}


.book-list-title{
    text-align: center;
    padding: 50px 0;
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.book-list-sub-title{
    text-align: center;
    padding-bottom: 50px;
}
.book-list{
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 3px 5px 15px -4px rgba(0,0,0,0.74); 
    box-shadow: 3px 5px 15px -4px rgba(0,0,0,0.74);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.book-rank{
    position:absolute;
    top:0;
    left:0;
    background-color: var(--point-color);
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
}
.book-image img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.book-description{
    padding-left: 20px;
    width: 500px;
    margin-top: 10px;
    text-align: center;
    word-break:keep-all;
}

.title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    word-break: keep-all;
}

.listline {
    max-width: 100%;
    display:flex;
    flex-direction: row;
}

.listAssemble {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    max-width: 100%;
}

.linetext {
    white-space: normal;
    max-width: 100%;
} */

Link {
    color: none; text-decoration: none;
}

@media screen and (max-width: 960px) {
    .book-image img{
        margin-top: 35px;
    }
    .book-list{
        padding: 10px;
    }
    .book-description{
        padding-left: 0;
    }
}