:root {
  --primary: #fff;
  --point-color: #0cff6d;
  --base-color: #c4c4c4;
  --lighter-color: #e4e0e0;
  --darker-color: #3f3f3f;
}

.main-image {
  max-width: 60%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.main-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(70%);
}

.main-description {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.main-section {
  max-width: 60%;
  height: 250px;
  margin: 0 auto;
  background: var(--lighter-color);
}
.center {
  padding-top: 70px;
  text-align: center;
}
.description-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.description-subtitle {
  margin-bottom: 30px;
}
.start-btn {
  border: none;
  padding: 10px 20px;
  background: var(--point-color);
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-shadow: 3px 5px 15px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 5px 15px -4px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 960px) {
  .main-image {
    max-width: 100%;
    height: auto;
  }
  .main-section {
    max-width: 100%;
  }
}
