.main-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 5px;
  margin-top: 5rem;
}
.container-title {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.3rem;
  word-break: keep-all;
}

.img-holder {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 5px;
}
.no-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-btn {
  margin: auto;
  width: 300px;
  height: 100px;
  color: #fff;
  border-radius: 10px;
  background-color: #28aa9d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}
.icon-btn {
  width: 50px;
  height: 50px;
  color: #fff;
  margin-right: 20px;
}
.camera-btn {
  background-color: #28aa9d;
  border: none;
  color: #fff;
}
.link_css {
  text-decoration: none;
}
.photo {
  color: #fff;
}
.image-upload .g-icons {
  width: 50px;
  height: 50px;
  color: #28aa9d;
  margin-right: 20px;
}
