.webcam-container {
  margin: 0 auto;
  width: 90%;
  max-width: 30rem;
  height: 400px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.conatainer {
  margin: 0 auto;
  width: 400px;
}
.webcam-btn {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #c4c4c4;
  color: #3f3f3f;
  font-weight: bold;
  border: none;
}
.webcam-btn:hover {
  cursor: pointer;
  background-color: #3f3f3f;
  color: #fff;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #28aa9d;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #28aa9d;
  color: #fff;
}
.result-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}
